//
// Buttons
//

.btn {
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border: 2px solid transparent;
    transition: all 0.3s ease-out, visibility 0s;
    line-height: 1.5;
}

.btn--active {
    box-shadow: 0 0 0 4px var(--focus);
}

.btn--block {
  width: 100%;
}

.btn--primary {
    color: var(--primary);
    background-color: var(--warning);
}

.btn--primary:hover {
    color: var(--warning);
    background-color: transparent;
    border-color: var(--warning);
}

.btn--secondary {
    color: var(--primary);
    border-color: var(--primary);
    background-color: transparent;
}

.btn--secondary.btn--active,
.btn--secondary:hover {
    background-color: var(--primary);
    color: var(--lighter);
}

.btn--warning {
    color: var(--primary);
    border-color: transparent;
    background-color: var(--warning);
}

.btn--danger {
    color: var(--lighter);
    border-color: transparent;
    background-color: var(--danger);
}

//
// Select elements
//

.select-menu {
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23505050'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right 0.25rem;
    background-size: 0.5rem 0.6rem;
    appearance: none;
    border: 2px solid;
    border-radius: 0.25rem;
    color: inherit;
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
}

//
// Input fields
//

.input-field {
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    width: 100%;
}

.input-check {
    border-radius: 0.25rem;
    width: 1rem;
    height: 1rem;
    margin-top: 0.15rem;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid var(--primary);
    appearance: none;
    color-adjust: exact;
}

.input-check:checked {
    background-color: var(--secondary);
    border-color: var(--secondary);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.multiselect  {
    border-width: 2px;
    border-color: var(--primary);
}

//
// Modals
//

@media (min-width: 992px) {
  .modal.modal-lg {
    max-width: 800px;
  }
}

.modal-header {
  font-size: 1.25rem;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 1rem 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

//
// Used by multiple views
//

.view__title-icon {
  height: 20px;
  width: 20px;
  color: var(--primary);
}

.section {
  padding: 0.5rem 2rem;
}

//
// Utils
//
@include margin-variant($id: 0, $size: 0);

@include margin-variant($id: 1, $size: 0.25rem);

@include margin-variant($id: 2, $size: 0.5rem);

@include margin-variant($id: 3, $size: 0.75rem);

.ml-auto {
  margin-left: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.mobile-only {
  @include for-tablet-landscape-up {
    display: none !important;
  }
}
