@mixin makeTheme($theme) {
  --primary: #{map-get($map: $theme, $key: "primary")};
  --secondary: #{map-get($map: $theme, $key: "secondary")};
  --warning: #{map-get($map: $theme, $key: "warning")};
  --danger: #{map-get($map: $theme, $key: "danger")};
  --lighter: #{map-get($map: $theme, $key: "lighter")};
  --darker: #{map-get($map: $theme, $key: "darker")};
  --focus: #{map-get($map: $theme, $key: "focus")};
  --link: #{map-get($map: $theme, $key: "link")};
  --unread: #{map-get($map: $theme, $key: "unread")};
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
